

services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    container_name: choreography-backend
    environment:
      - MONGO_URI=mongodb://mongo:27017/choreography-planner
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    container_name: choreography-frontend
    depends_on:
      - backend

  mongo:
      image: mongo:latest
      ports:
        - "27017:27017"
      volumes:
        - mongo-data:/data/db

volumes:
  mongo-data:
